@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Jetbrains Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #13121a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  [type='radio']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  }

  [type='checkbox'],
  [type='radio'] {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type='radio'],
  [type='checkbox'] {
    @apply border-off-white;
  }
}

body {
  margin: 0;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* INPUT RANGE RESET */
input[type='range'] {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /* background: transparent; */
  cursor: pointer;

  &:focus {
    outline: none;
  }

  /* // &::-ms-fill-lower {
  //   background: #a4ffaf;
  // }

  // &::-ms-fill-upper {
  //   background: #18171f;
  // } */
}

input[type='range']::-ms-fill-lower {
  background: #a4ffaf;
  border-radius: 10px;
}

input[type='range']::-ms-fill-upper {
  background: #18171f;
  border-radius: 10px;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']::-webkit-slider-runnable-track {
  height: 0.5rem;
}

/******** Firefox ********/
input[type='range']::-moz-range-track {
  height: 0.5rem;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range'] {
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -10px; /* Centers thumb on the track */
    background-color: #e6e5ea;
    border-radius: 40px;
    height: 28px;
    width: 28px;
  }
  &:focus::-webkit-slider-thumb {
    background-color: #18171f;
    border: 1px solid #a4ffaf;
    outline: 1px solid #a4ffaf;
  }
}

/******** Firefox ********/
input[type='range'] {
  &::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 40px; /*Removes default border-radius that FF applies*/
    background-color: #e6e5ea;
    height: 28px;
    width: 28px;
  }
  &:focus::-moz-range-thumb {
    border: 1px solid #a4ffaf;
    outline: 1px solid #a4ffaf;
  }
}

/* TAILWIND CHECKBOX CHECK OVERRIDE */

/* @layer components {
  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  [type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  }

  [type="checkbox"],
  [type="radio"] {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type="checkbox"],
  [type="checkbox"]:checked,
  [type="checkbox"]:checked:hover,
  [type="checkbox"]:checked:focus,
  [type="checkbox"]:indeterminate:hover,
  [type="radio"],
  [type="radio"]:checked,
  [type="radio"]:checked:hover,
  [type="radio"]:checked:focus {
    @apply border-gray-300;
  }
} */
